<% @urls.each do |url| %>
  <%= url.clicks || 0 %> <a href="http://<%= env["HTTP_HOST"] %>/<%= url.id %>">clicks</a>: <a href="<%= url.url %>" title="<%= url.url %>"><%= url.truncated_url %></a><br/>
<% end %>
